[2021-04-14 10:17] Silabs-ArjanB opened #12 "Study (and if needed re-introduce) separate mret_insn_o/mret_dec_o and uret_insn_o/uret_dec_o signals"
The original CV32E40P decoder differentiates between insn_o and dec_o signals for mret, uret and dret. This distinction was removed on the CV32E40X.

On the CV32E40P the following modification proves SEC clean when PULP_SECURE = 0, but not SEC clean when setting PULP_SECURE=1.

[code]

Only making the dret_dec_o related change is SEC clean for both PULP_SECURE = 0 and PULP_SECURE = 1.

For the CV3

[2021-05-05 12:05] Silabs-ArjanB commented on #12
uret will not be need at all

[2021-07-21 09:30] eroom1966 opened #28 "Documentation for E40S"
Can I ask where is the correct reference for the E40S documentation
I have found 2 locations - maybe these are in fact equivalent ?

https://docs.openhwgroup.org/projects/cv32e40s-user-manual/
https://cv32e40s-user-manual.readthedocs.io/en/latest/

Thx
Lee

[2021-07-21 09:43] eroom1966 opened #29 "Does CV32E40S support User Mode ?"
@Silabs-ArjanB
I am confused by the documentation regarding support of user mode

https://cv32e40s-user-manual.readthedocs.io/en/latest/control_status_registers.html#csr-map

for the MISA[U] bit it says the following
<html><body>

20 | RO   (0x0) | U (User mode implemented).
-- | -- | --

</body>
</html>

this indicates it is not supported.

In the document indicating support requirements of the I

[2021-07-21 11:48] Silabs-ArjanB commented on #28
Hi Lee,

These are the same. We normally point only to https://cv32e40s-user-manual.readthedocs.io/en/latest/ though.

[2021-07-21 11:59] Silabs-ArjanB commented on #29
Hi @eroom1966 , the CV32E40S will unconditionally support user mode. The documentation has not fully been updated to reflect that. I fixed the misa.u bit now with https://github.com/openhwgroup/cv32e40s/pull/30.

User mode has not been implemented in the CV32E40S RTL yet (but it will), but it is okay if you add it already in the ISS for the CV32E40S.

Best regards,
Arjan

[2021-07-21 14:16] eroom1966 commented on #29
thanks

[2021-07-21 14:16] #29 closed

[2021-07-21 14:17] eroom1966 commented on #28
thanks

[2021-07-21 14:17] #28 closed

[2021-07-25 22:09] strichmo opened #33 "processor does not clear mpp when executing mret with user mode present"
## Component
**Component:RTL**

### Description
The E40S leaves the MPP field in mstatus as M-mode (3) instead of U-mode (0) when executing a *ret instruction.  Since the E40S supports user mode, this functionality should be changed from the older M-mode-only E40S and E40P.

From the Privileged Spec 3.1.6.1
[code]

### Steps to Reproduce
The original failure used Xcelium to detect.  This should fa

[2021-07-26 05:34] Silabs-ArjanB commented on #33
Hi @strichmo Thanks for filing this issue. As you know user mode has not been implemented yet, but we can prioritize the effect of *RET instructions in a next sprint.

[2021-07-26 12:29] strichmo commented on #33
Thanks @Silabs-ArjanB one thing to keep in mind: The setting of user mode is one of the few setting that CANNOT be disabled on OVPSIM.  Thus when Lee recently enabled that for the E40S we saw these failures.  I would hope that with just one or a few prioritized fixes we could continue making progress as tests should not be purposely enabling user mode under the RTL is ready for it.

[2021-08-16 06:52] Silabs-ArjanB opened #39 "Make PMP and PMA region modeling consistent"
https://github.com/openhwgroup/cv32e40s/pull/38 was performed to work around a DSIM crash. If this work-around works, make PMP and PMA region modeling consistent again (RTL fix likely to be done on 40X first and then merged).

[2021-09-13 07:54] Silabs-ArjanB opened #49 "mstatus.tw not fully implemented"
- mstatus.tw functionality is not fully implemented. We want a time limit related to the Timeout Wait to be 0.
- The mstatus changes are not documented in the 40S User Manual (the WARL behavior of MPP will only be internally documented)

[2021-09-23 06:19] Silabs-ArjanB commented on #39
Hi @silabs-oivind, has this issue already been resolved?

[2021-09-23 07:18] silabs-oivind commented on #39
Hi @Silabs-ArjanB. Yes, it has been resolved.

[2021-09-23 07:46] #39 closed

[2021-10-12 07:50] silabs-oivind opened #62 "Remove eXtension interface"
The eXtension interface is now present in CV32E40S due to merges from CV32E40X. It should be removed.

[2021-10-26 10:47] Silabs-ArjanB opened #70 "Hard-wire misa.X to 1"
Hard-wire misa.X to 1, or better yet to 1 if SECURE = 1, 0 otherwise (because of Xsecure related CSRs).

[2021-11-05 15:11] silabs-oysteink commented on #12
The _dec signales were introduced in commit 2108fd4a8cf06b2bc51a761ad0e362c426a431cd, with a message containing ":bug: fix illegal vs xret race condition"

In E40P, the privilege level will change **before** the associated jump is taken (privilege level is updated in FLUSH_WB, and jump is taken in state XRET_JUMP, which follows FLUSH_WB). If the privilege level changes from M to U due to an mret,

[2021-11-08 09:42] #12 closed

[2021-11-23 11:32] Silabs-ArjanB opened #74 "Update to ratified version of Smepmp"
Update to ratified version of Smepmp

- Change version in intro.rst (if needed)
- Check for any spec changes compared to our earlier design target (0.9.1, https://docs.google.com/document/d/1Mh_aiHYxemL0umN3GTTw8vsbmzHZ_nxZXgjgOUzbvc8/edit#) and update User Manual, RTL and VPLAN
- Allow up to 64 PMP regions
- Treat RW(X) as WARL field (as already described in User Manual)
- Make PMP configuration

[2021-12-07 12:48] strichmo commented on #33
This has long been fixed and should have been closed.  I am closing now.

[2021-12-07 12:48] #33 closed

[2022-01-04 08:49] Silabs-ArjanB opened #90 "LFSR update priorities wrong"
The LFSR update priorities are wrong, they should be as in https://github.com/lowRISC/ibex/blob/410ffd349da1d4c13f77b208bb3b93adb154fac0/vendor/lowrisc_ip/ip/prim/rtl/prim_lfsr.sv#L380

In the current code LFSR writes by software would be ignored unless they happen to coincide with a hardware based LFSR write.

Priorities should be:

1. seed_we_i
2. enable_i && lockup_o
3. enable_i

RTL should als

[2022-01-04 08:51] Silabs-ArjanB opened #91 "Make cpuctrl and secureseed* CSRs depend on SECURE parameter"
The CSR write logic of the cpuctrl and secureseed* CSRs should be made dependent on SECURE (line https://github.com/openhwgroup/cv32e40s/blob/6f42e427c296120d5a6c1367e8eab574d5c0bbc3/rtl/cv32e40s_cs_registers.sv#L639 and below).

(This is just for readability; the actual CSRs are not instantiated already when SECURE=0)

[2022-01-04 08:55] Silabs-ArjanB opened #92 "Dummy instruction inserted too early after CSR write"
After a CSR write to cpuctrl, the dummy instruction insertion does not observe the written dummy instruction interval (as a dummy instruction can get inserted immediately violating the 1-N interval requirement).

The a_no_count_overflow assertion masks this issue because of it use of rnddummyfreq_written, see https://github.com/openhwgroup/cv32e40s/blob/6f42e427c296120d5a6c1367e8eab574d5c0bbc3/sva

[2022-01-04 09:34] silabs-oysteink commented on #92
<img width="1037" alt="40s_issue92" src="https://user-images.githubusercontent.com/66771756/148038670-8ce475f0-11b2-43ec-b3d4-1833c6370ed0.png">

In this case, the cnt_q has already passed the new value for lfsr_cnt after the CSR write, creating a dummy instruction immediately after the write. I guess the cnt_q should be reset for these writes as well.

[2022-01-11 11:18] Silabs-ArjanB commented on #92
Can the following also be done?

- Add an id_stage assertion that for dummy instructions operand_a_fw_mux_sel equals SEL_LFSR, or operand_a_fw_mux_sel equals SEL_REGFILE and the read address is 0. Same for operand_b_fw_mux_sel.
- In the register file make sure that REGFILE_NUM_WRITE_PORTS is taken into account also if SECURE=1 (currently it is not taken into account as can for example be seen by t

[2022-01-18 13:07] Silabs-ArjanB opened #100 "Smepmp does not implement requirement 4b"
Requirement 4b of https://github.com/riscv/riscv-tee/blob/main/Smepmp/Smepmp.pdf  has not been implemented it seems. See also https://lists.riscv.org/g/tech-tee/topic/87706530#1147

[2022-01-18 14:51] silabs-halfdan commented on #91
This can be closed now

[2022-01-18 15:16] #90 closed

[2022-01-18 15:17] #91 closed

[2022-01-21 09:42] #92 closed

[2022-02-07 15:19] silabs-robin opened #113 "ISS CSR mismatch, write "menvcfgh" illegal/not"
**Component:RTL**: For issues in the RTL (e.g. for files in the rtl directory)

### Steps to Reproduce

On core-v-verif branch `cv32e40s/dev`, hash `2e99764ce12db41c435eb9cd6be9800e08f4ece3`.
On latest 40s rtl, hash `a9c0f695e6663f912f34c4e7b424011513eafd04`.

Running the instruction `0x31A45273` cause RVVI to flag illegal instruction with `mepc` pointing to the instruction itself, while RVFI did

[2022-02-07 15:38] Silabs-ArjanB commented on #113
Hi @silabs-robin This sounds like an ISS issue to me; would you agree with that?

[2022-02-07 15:53] silabs-oivind opened #114 "Revisit bits in menvcfg(h)"
When adding menvcfg(h) CSRs, bits CBIE, CBCFE, CBZE and STCE were still to be "furnished by forthcoming extensions".
Revisit, and make sure we properly implement these bits.

[2022-02-07 15:59] Silabs-ArjanB opened #115 "Is the uintstatus CSR required?"
It is not clear from the CLIC spec whether this CSR is required (assuming there will not be any user level interrupts)

[2022-02-07 16:19] Silabs-ArjanB opened #116 "CLIC CSRs"
- How will side effects of xnxti be comminucated/checkd via RVFI?
- Decide which CLIC CSRs need shadow CSRs

[2022-02-08 08:10] silabs-robin commented on #113
Not immediately.

The example above writes to CSR `menvcfgh`, which the user manual [claims](https://cv32e40s-user-manual.readthedocs.io/en/latest/control_status_registers.html#machine-environment-configuration-menvcfgh) to be RO.
And the user manual also says _"RO: CSR is read-only. Writes by CSR instructions raise an illegal instruction exception."_.

[2022-02-08 09:37] Silabs-ArjanB commented on #113
The part of the spec you quote relates to the 'privilege' column of table 8-13 where this CSR is declared as MRW, so no illegal instruction exception should occur for the scenario in this github issue. (The RO description in the Mode column in the detailed CSR description tables means something else and does not impact whether accesses are treated as illegal or not)

[2022-02-08 10:07] silabs-robin commented on #113
You are right.
The register itself is "MRW", only the bitfield is "RO".
So a csr write is not illegal, as RVVI claims.

[2022-02-08 10:14] silabs-robin commented on #113
@eroom1966, hi.
Could you please have a look at this?

It seems like the ISS thinks 0x31A is illegal to write to, but the RTL and user manual indicate that it should be fine.
This is new in priv spec v1.12.

[2022-02-08 13:33] Imperas commented on #113
Yes this seems to be the problem that the RTL has moved to a future specification and the reference model is working to the current specification - as far we  can tell from all documentation we have been provided the 40x is to priv 1.11 - which does not include this register and so the ref model is doing what it is meant to - saying the RTL is not adhering to the spec...

changing the doc files an

[2022-02-08 14:07] Silabs-ArjanB commented on #113
Hi @Imperas

I will make a new pdf shortly (within a week I expect).

Agreed. We let's have a meeting once we have the new pdf.

[2022-02-18 15:45] #100 closed

[2022-02-18 15:46] Silabs-ArjanB commented on #74
@silabs-oivind Has this been fixed now?

[2022-02-21 07:31] silabs-oivind commented on #74
@Silabs-ArjanB. Yes, this is fixed.

[2022-02-21 07:53] #74 closed

[2022-02-23 20:02] MikeOpenHWGroup opened #148 "Illegal concatenation in bhv/rvfi_sim_trace.sv"
### Component
`bhv/rvfi_sim_trace`

### Description of Issue
At [line 108](https://github.com/openhwgroup/cv32e40s/blob/a6ead13ddacdca83516db81240ce11d94d1a9c0a/bhv/rvfi_sim_trace.sv#L108) there is an attempted concatenation of a bit-vector (`tmp_trace.asm`) and a string (`asms[i]`).

### Steps to Reproduce
In theory, any attempt to compile the RTL with the tracer included should do it.  I typical

[2022-02-24 14:43] MikeOpenHWGroup commented on #148
I have implemented a "fix" for this issue locally by changing the definition of `tmp_trace_t::asm` from a bit vector to a string on [line 43](https://github.com/openhwgroup/cv32e40s/blob/a6ead13ddacdca83516db81240ce11d94d1a9c0a/bhv/rvfi_sim_trace.sv#L43):
[code]
to:
[code]
I _think_ that should do it and with this change a local regression passes, but I am not familiar enough with the code to know

[2022-02-24 14:50] silabs-halfdan commented on #148
The issue with that is that we are not able to probe strings.
I was able to recreate this with vsim, but xrun is happy with it and doesn't even give a warning.

[2022-02-24 14:52] silabs-halfdan commented on #148
I just made a PR that fixes the issue for vsim at least, and I would expect the same to work for dsim.
https://github.com/openhwgroup/cv32e40x/pull/457

[2022-02-24 15:06] MikeOpenHWGroup commented on #148
Thanks.   Works with dsim.

[2022-02-24 16:46] MikeOpenHWGroup commented on #148
[openhwgroup/cv32e40x#457](https://github.com/openhwgroup/cv32e40x/pull/457) also needs to be applied to the E40S.

[2022-02-24 17:21] Silabs-ArjanB commented on #148
Yes, this will be part of our regular 40X -> 40S merge eventually

[2022-03-28 13:18] Silabs-ArjanB opened #165 "Update according to changed pmpcfg WARL behavior"
The pmpcfg.X, pmpcfg.W and pmpcfg.R  bits shall be treated as a collective WARL (0x0, 0x1, 0x3, 0x4, 0x5, 0x7) bitfield when mseccfg.MML = 0 and upon writing an illegal value the value of the combined XWR bitfield shall remain unchanged

[2022-04-05 13:36] Silabs-ArjanB opened #168 "csr_wr_in_wb_flush_i seems not to be fully functional"
csr_wr_in_wb_flush_i is supposed to make sure that the CSRs are updated after which the pipeline is flushed and the new settings are used. This 'after which' part seems not to have been implemented. I expect that for example updated PMP settings will not affect the next instruction as they should. (Should be easy to see in formal or with a directed test)

[2022-05-03 10:08] Silabs-ArjanB opened #185 "Add additional alert sources"
A minor alert should also get triggered for:

- Instruction parity/checksum fault (only when triggering the related exception)
- Store parity/checksum fault (only when triggering the related NMI).
- Load parity/checksum fault NMI (only when triggering the related NMI).
- Store bus fault NMI (only when triggering the related NMI).
- Load bus fault NMI  (only when triggering the related NMI).

[2022-05-13 09:29] silabs-robin opened #196 "Wrong D-mode priv lvl"
### Component
**Component:RTL**: For issues in the RTL (e.g. for files in the rtl directory)

### Steps to Reproduce
40s hash `fdbba032`.

Trace with CEX:
![image](https://user-images.githubusercontent.com/75431602/168253374-551d9311-fbfd-4d59-80f4-4c49d05ce008.png)
This trace is long, but the color-highlights (RGB tresis) show the problem at cycle 22 (the lines below are very useful too, at cycle

[2022-05-13 09:34] silabs-robin commented on #196
@Silabs-ArjanB @silabs-oysteink

[2022-05-23 05:37] silabs-hfegran opened #201 "mcause reset value 0x0000_0000 with SMCLIC=1 violates CLIC spec"
See https://github.com/openhwgroup/cv32e40x/issues/549 for 40x, issue is identical

[2022-05-27 10:58] Silabs-ArjanB commented on #168
The fix will be similar to how fencei is handled

[2022-05-30 12:31] silabs-hfegran opened #206 "Undefined behavior for mscratchcsw and mscratchcswl not handled in RTL"
## Undefined behavior for mscratchcsw and mscratchcswl not handled in RTL
Behavior of mscratchcsw and mscratchcswl is undefined in the cases mentioned below (CLIC spec chapter 13.2 and 14.1). As with other undefined/reserved behavior, we should trigger illegal instruction exceptions.

### Background
CLIC spec states as follows:

[2022-05-31 13:59] silabs-oysteink opened #209 "Make sure dummy instructions are only inserted on instruction boundaries"
Currently, dummy instructions can be inserted between the two operations of a table jump. This does not break the execution of the table jumps, but it is probably best to avoid it. This will be the same for Zc* push and pop instructions, we should not insert any dummies in the middle of the instruction seuqences.

I propose to fix this bug when the push/pop instructions are implemented.

[2022-06-08 10:50] silabs-oysteink commented on #168
This issue should be fixed with PR #225

[2022-06-08 14:43] #70 closed, assigned to nobody

[2022-06-16 12:17] Silabs-ArjanB opened #235 "Update custom exception codes"
Currently we use custom exception codes 48 (Instruction bus fault) and 49 (Instruction parity/checksum fault). It is not possible to use the etrigger functionality for these values. Consider using custom exception codes 24 and 25 instead.

48 -> 24 applies to the CV32E40X as well.

[2022-06-20 07:42] silabs-robin opened #236 "rvfi wrong rs1_rdata"
### Component
**Component:RTL**: For issues in the RTL (e.g. for files in the rtl directory)
**Component:Other**: For any other issues

### Steps to Reproduce
In formal, can just 1) look at the waveform and write covers/asserts based on that, or 2) can use my branch of core-v-verif with an assertion that catches this, 3) possibly the same issue exists in the failing rvfi fv jobs.
(Opt 2 is probabl

[2022-07-01 13:58] silabs-oysteink commented on #236
PR #241 should hopefully fix this issue.

[2022-07-01 15:23] silabs-robin commented on #236
It seems the problem persists.
I am at `b8de6d` of your cv32e40s branch, and I still get a CEX on the `a_rs1_resetvalue` assert from my `rvfi_assert` core-v-verif branch.
The new text `Only update rs1/rs2 on the first part of a multi operation instruction` is visible in the elaborated rvfi_i module so it should be the latest RTL.

Could it be that I need to update my core-v-verif branch with some

[2022-07-04 06:58] silabs-oysteink commented on #236
There is a second issue that is causing this, after fixing the RVFI issue. A secure jump will perform two operations, and currently the controller is able to kill the jump (or branch) after only one of two operations has retired. This kill should not have happened, as the state will be updated without the instruction being fully executed. A fix for this will be introduced on the E40X when the new

[2022-07-04 07:07] tzwaenn opened #242 "Wrong debug mode handling for User mode"
# Template for Bug Issue

### Component

**Component:RTL**

### Steps to Reproduce
See attached trace
![dret](https://user-images.githubusercontent.com/45827187/177099057-37c72a89-9756-4f28-8efa-5a7c97442637.png)
We see the core being set up for user mode, going to debug mode, and then executing a dret instruction. The dret violates the specification since it is supposed to restore the privilege f

[2022-07-04 08:44] Silabs-ArjanB commented on #242
additional ionfo from OneSpin: Saving the mode in dcsr.prv constantly stores PRIV_LVL_M in line 1498 and on a dret, prv_lvl_n is set as expected in line 1556, but not priv_lvl_we, so no level transition is happening.

[2022-07-06 13:57] silabs-anvesten opened #243 "Bug in the MSTATUS register"
Attempts to write illegal value S-mode to the mpp-field in the mstatus csr. Read value should be previous legal value (U-mode), but returns M-mode.

### Steps to Reproduce
- checkout my branch https://github.com/silabs-anvesten/core-v-verif/tree/UsermodeTest
- cd /work/user/core-v-verif/cv32e40s/sim/uvmt
- make test TEST=privilege_tests CFG=pmp

## Environment
tested on the following cv32e40s hash

[2022-07-07 12:00] silabs-robin opened #244 "RVFI "pmpaddr" wrong width"
**Component:RTL**: For issues in the RTL (e.g. for files in the rtl directory)
**Component:Other**: For any other issues

### Description

When using PMP `G` different from 0.
Xcelium cannot compile.
(G=3 in the example below.)
[code]

The wrapper connects rvfi probing like `.csr_pmpaddr_q_i          ( core_i.cs_registers_i.pmp_addr_rdata`.
But RVFI expects 32 bits `input logic [31:0]

[2022-07-07 13:44] silabs-oysteink commented on #236
With PR #245 this should finally be fixed. Still waiting for formal to converge, I will add a comment once it is done.

[2022-07-08 12:34] silabs-robin opened #248 ""rvfi_dbg" wrong cause"
**Component:RTL**: For issues in the RTL (e.g. for files in the rtl directory)
**Component:Other**: For any other issues

### Description

On the first instr in dmode, `rvfi_dbg` _"contains the debug cause"_.
Also, `dcsr.cause` _"Explains why Debug Mode was entered"_
AFAICT, they should be the same on the first instr in dmode.
Problem: They are not. (See screenshot below.)

![image](https://user-i

[2022-07-11 07:10] tzwaenn opened #249 "Wrong execute permission with mseccfg.MML and no matching region"
### Component

**Component:RTL**: For issues in the RTL (e.g. for files in the rtl directory)

### Steps to Reproduce
When the first instruction after reset sets mseccfg.MML, the fetch of the next instruction actually goes through. However, the Smepmp spec states that for MML set, "Executing code from a region without a matching rule or with a matching S/U-mode-only rule is denied." With no PMPs s

[2022-07-11 14:54] silabs-hfegran opened #251 "RVFI itrace module causes excessive simulation slowdown."
## RVFI itrace module causes excessive simulation slowdown.

### Component

**Component:Other**: `bhv/rvfi_sim_trace.sv`

### Steps to Reproduce
1. git hash: 463bd7d187c587190a463d9b9f8458ee58201449
2. make comp_corev-dv gen_corev-dv test TEST=corev_rand_instr_test

Attached analysis screenshot from cv32e40S
![image](https://user-images.githubusercontent.com/75469886/178292554-7a16364f-3563-4a07-b

[2022-07-12 07:33] #251 closed

[2022-07-14 16:16] Silabs-ArjanB commented on #243
This should be fixed with https://github.com/openhwgroup/cv32e40s/pull/247/. @silabs-anvesten could you please check if it works now on the latest RTL?

[2022-07-15 06:13] silabs-anvesten commented on #243
Yes it does, tests clear now

[2022-07-15 06:13] #243 closed

[2022-07-15 10:22] Silabs-ArjanB opened #255 "Fix PMPADDR hookup to RVFI (and check/fix other similar issues if existing)"
For PMPADDR there is sometimes a difference in the value stored in the CSR and the value read from the CSR (as per the PMP spec). A new signal pmp_addr_n_r was introduced in the RTL to represent the 'next read value upon a write', see https://github.com/openhwgroup/cv32e40s/pull/254.

This signal is currently assigned to 0 and should be implemented (logic similar to the logic present on pmp_addr_r

[2022-07-15 10:24] Silabs-ArjanB commented on #244
The reported issue should be fixed now. Another issue was however discovered (reported as https://github.com/openhwgroup/cv32e40s/issues/255) and this has not yet been fixed. Until that issue has been fixed the RVFI _wdata signals for PMPADDR cannot be trusted.

[2022-07-15 12:49] Silabs-ArjanB opened #256 "Document PMPADDR and PMPCFG WARL rules properly"
https://docs.openhwgroup.org/projects/cv32e40s-user-manual/en/latest/control_status_registers.html#pmp-address-pmpaddr0-pmpaddr63 does not properly describe the WARL rules for PMPADDR (i.e. its dependency on granularity and mode) and PMPCFG (the A bitfield).

The missing info relates to the following part from the Privileged spec:

Related fields should not simply be called WARL (as that implies t

[2022-07-15 14:03] silabs-hfegran opened #257 "UM: Wrong description of minimum PMP granularity"
## Wrong description of minimum PMP granularity

Issue: minimum  granularity (G) tied to number of pmp regions implemented.

The user manual currently states that the minimum granularity, G, of a PMP regions is 2^(PMP_NUM_REGIONS + 2) bytes.
If this were to be true, it would lead to a absurd cases such as a minimum granularity of 2^66 bytes in the case of 64 PMP regions.
I presume the correct shou

[2022-07-15 14:13] Silabs-ArjanB commented on #257
@silabs-hfegran Are you sure you are looking at the latest version as opposed to 0.2.0?

[2022-07-15 14:22] Silabs-ArjanB commented on #257
Had already been fixed

[2022-07-15 14:22] #257 closed

[2022-07-18 08:13] Silabs-ArjanB commented on #248
This is both an RVFI issue and an assertion issue.

The RVFI issue should be solved by https://github.com/openhwgroup/cv32e40s/pull/258.

The assertion issue relates to a misunderstanding of the rvfi_dbg signal. It does _not_ always have to be equal the debug cause in dcsr as shown in Table 27 Table of scenarios for first instruction of exception/interrupt/debug handler. Further clarification has

[2022-07-18 09:08] Silabs-ArjanB commented on #249
Hi @tzwaenn Thank you for finding and reporting this issue. https://github.com/openhwgroup/cv32e40s/pull/259 should have fixed this issue now. Could you please check if the issue has indeed been solved?

[2022-07-18 09:45] Silabs-ArjanB commented on #242
Both reported issue should be fixed with https://github.com/openhwgroup/cv32e40s/pull/260.

@tzwaenn Thank you very much for finding and reporting these issues (the user mode related additions to the debug circuitry were still work in progress, but it is great to see that OneSpin catches these issues). Could you please run OneSpin again and check if these issues have now properly been fixed?

[2022-07-18 10:10] Silabs-ArjanB commented on #196
@silabs-oysteink Is all code execution in debug mode 'due to abstract commands'? Note that section A.2 of the debug spec states "This implementation only implements the Access Register abstract command for GPRs on a halted
hart, and relies on the Program Buffer for all other operations."

[2022-07-18 10:21] Silabs-ArjanB commented on #249
@tzwaenn Thank you for the info. Then I clearly did not fix the issue as I fixed an issue related to PMP_NUM_REGIONS=0. I will have another look (I am not too familiar with this code, so if it goes too deep I might have to postpone it).

@tzwaenn Will you be checking the bevaior for PMP_NIUM_REGIONS=0 as well (in that case the PMP is still present, but none of its regions can be programmed)

[2022-07-18 10:27] tzwaenn commented on #249
@Silabs-ArjanB: We so far mostly used NUM_PMP_REGIONS=0 for Zcb, Zcmb tests which all passed. But if mseccfg still exists if there are 0 regions, our Smepmp tests should cover that case as well (I guess having 0 regions will disable user mode as it is no longer possible to have memory regions accessed by user mode)

[2022-07-18 11:03] Silabs-ArjanB commented on #249
0 regions should not disable user mode, but it indeed forces mseccfg hardwired to 0, which is probably why PMP_NUM_REGIONS did not trigger the same issue as you reported here.

@tzwaenn I pushed another fix (https://github.com/openhwgroup/cv32e40s/pull/261). Could you see again now? (I don't have a simulation setup for the given test case, so I am making the fix based on the ePMP spec only)

[2022-07-18 11:07] silabs-hfegran opened #262 "rvfi_mode lacks reset"
## rvfi_mode lacks reset
rvfi_mode is only assigned on `wb_valid_adjusted && !is_dummy_instr_in_wb`, thus has undefined value out of reset

### Steps to Reproduce
Git hash:  70793cc8e187fcc2c49a752402af82efd1df958d
bhv/cv32e40s_rvfi.sv, Line 1028, only assignment occurs here.

[2022-07-18 11:52] Silabs-ArjanB commented on #262
@silabs-hfegran Should be fixed now

[2022-07-18 12:03] #262 closed

[2022-07-19 06:46] Silabs-ArjanB opened #265 "Update achk/rchk signals according to https://github.com/openhwgroup/cv32e40s/pull/264"
Update achk/rchk signals according to https://github.com/openhwgroup/cv32e40s/pull/264

[2022-07-19 12:40] tzwaenn commented on #249
@Silabs-ArjanB what I meant about deactivating user mode in practice is that if 0 PMP regions takes the access fault computation from the n regions case, it will be impossible to execute any instruction in user mode as all user mode memory accesses are illegal and it is impossible to make them lega: no PMP entry can be added that could match the user mode address and a not matching access is alway

[2022-07-19 14:13] tzwaenn commented on #249
The fix looks good - no more quick fails when firing up a handful of assertions.

[2022-07-20 08:39] tzwaenn commented on #242
There is no longer a fail for the return assertion.

[2022-07-20 10:32] Silabs-ArjanB commented on #242
@tzwaenn Could you please close this issue if you agree it has been fixed?

[2022-07-20 10:32] Silabs-ArjanB commented on #249
@tzwaenn Could you please close this issue if you agree it has been fixed?

[2022-07-20 11:05] #242 closed

[2022-07-20 11:06] #249 closed

[2022-07-25 09:07] Silabs-ArjanB commented on #196
@silabs-robin I filed https://github.com/riscv/riscv-debug-spec/issues/744 to get a better understanding about what is really the requirement here.

[2022-07-26 08:40] Silabs-ArjanB commented on #235
Temporarily use LIB to differentiate old / new functionality (default to old functionality)

[2022-07-26 09:37] Silabs-ArjanB commented on #196
Should be fixed with https://github.com/openhwgroup/cv32e40s/pull/268

[2022-07-26 11:55] Silabs-ArjanB commented on #235
Old exception codes enabled with LIB.7 == 0 && LIB.1 == 0:

48 (Instruction bus fault)
49 (Instruction parity/checksum fault)

Old exception codes with LIB.7 == 1 && LIB.1 == 1:

24 (Instruction bus fault)
25 (Instruction parity/checksum fault)

[2022-07-26 12:13] Silabs-ArjanB commented on #235
Documentation has already been updated: https://github.com/openhwgroup/cv32e40s/pull/269, https://github.com/openhwgroup/cv32e40x/pull/627

[2022-07-26 13:28] Silabs-ArjanB commented on #235
The instruction bus fault update needs to be done first on the 40X, then merged into the 40S

[2022-07-27 07:44] silabs-kun opened #270 "xmsim: *E,ASRTST, uvmt_cv32e40s_pmp_assert.sv"
# Error message

xmsim: *E,ASRTST (/work/kuzhu/core-v-verif/cv32e40s/tb/uvmt/uvmt_cv32e40s_pmp_assert.sv,728): (time 60379800 PS) Assertion uvmt_cv32e40s_tb.dut_wrap.cv32e40s_wrapper_i.core_i.load_store_unit_i.mpu_i.pmp_i.u_pmp_assert_lsu.gen_pmp_assert.a_accept_only_legal has failed
stop: uvmt_cv32e40s_tb.dut_wrap.cv32e40s_wrapper_i.core_i.load_store_unit_i.mpu_i.pmp_i.u_pmp_assert_lsu.gen_pmp_as

[2022-07-27 07:49] silabs-robin commented on #270
Thanks @silabs-kun. This seems very related to the other error, "a_deny_only_illegal".

[2022-07-27 10:00] silabs-robin commented on #196
The issue has been fixed.
I have an assertion ("a_dmode_mmode") which fails before applying the fixes, and passes after applying the fixes.

(All possible core configurations have _not_ been tested, but they will be when my assertions are merged into core-v-verif and regressions are ran.)

[2022-07-27 10:00] #196 closed

[2022-07-27 14:41] silabs-robin commented on #248
Why?
_"For the first instruction after entering debug, the rvfi_dbg signal contains the debug cause"_.
An ebreak in debug mode goes from D-mode to D-mode, so I don't see why that is "entering debug".

[2022-07-27 15:29] silabs-robin commented on #244
This seems to have been fixed.
It now successfully compiles.
I also check an assert that csr read instructions have the same "rd_wdata" as what rvfi reports for the csr rdata.
It fails on the commit before the fix, and passes on the latest RTL.

(Roger that on the _wdata.)

[2022-07-28 06:40] Silabs-ArjanB commented on #248
@silabs-robin This scenario is considered 'entering debug' because a branch is performed to dm_halt_addr_i.

[2022-07-28 06:55] silabs-robin commented on #248
The RVFI issue appears to have been fixed. CEXes now point to the need to update the assertion itself.

[2022-07-28 06:55] #248 closed

[2022-07-28 07:55] silabs-robin commented on #270
I just noticed. This issue was opened on the wrong repo.
The errors above are from "core-v-verif", but this is the "cv32e40s" repo.

[2022-07-31 15:31] silabs-robin opened #272 "PMP deny reaches bus?"
**Component:RTL**: For issues in the RTL (e.g. for files in the rtl directory)
**Component:Other**: For any other issues

### Steps to Reproduce

1. My branch [pmp_assert](https://github.com/silabs-robin/core-v-verif/tree/pmp_assert) at hash `139b7d4b`
2. Run formal, `tcf_cvverif`, with rc `pmp_g3r3`  (communicate in chat if necessary)
3. Check `u_pmp_assert_if_stage.a_suppress_req`

The waveform

[2022-08-01 05:38] Silabs-ArjanB commented on #272
Hi @silabs-robin Only judging on the above figure this does not seem like a violation (yet) to me. It sounds like that the assertion is forbidding certain **prefetches**, whereas the PMP should only prevent retirement of instructions using certain addresses. So PMP assertions should just look at retired instructions and since above wave shows only 1 rvfi_valid cycle there can never yet be a PMP re

[2022-08-01 07:46] silabs-robin commented on #272
Not a bug.

Explanation:
While data-side PMP error shall never reach the bus, instruction-side PMP errors can reach the bus for speculative pre-fetching _but then it must never be retired_.
The special instruction-side allowance is harmless when the PMA limits fetching to only Main Memory regions.

[2022-08-01 07:46] #272 closed

[2022-08-02 14:28] Silabs-ArjanB opened #273 "Did we already fix https://github.com/lowRISC/ibex/issues/1740?"
See https://github.com/lowRISC/ibex/issues/1740

[2022-08-02 14:30] Silabs-ArjanB opened #274 "Did we already fix https://github.com/lowRISC/ibex/issues/1736?"
See https://github.com/lowRISC/ibex/pull/1737 and https://github.com/lowRISC/ibex/issues/1736

[2022-08-03 11:38] Silabs-ArjanB opened #275 "Did we already fix https://github.com/lowRISC/ibex/issues/1719?"
See https://github.com/lowRISC/ibex/issues/1719

[2022-08-09 11:06] silabs-robin commented on #275
I have made a cover property showing that we can exhibit correct behavior for the case in that issue.
(I left a todo to make an assert for this once we have reliable rvfi csr wdata signals.)

The original issue is confusing and I can't see clearly what they actually claim.
I tried to decipher their log, and it seems Spike is in the wrong and the Ibex rtl is right.
This is also confirmed by their c

[2022-08-09 12:16] silabs-oivind commented on #273
Yes, this is taken care of in cv32e40s_cs_registers, see below the following comment:
// Smepmp spec version 1.0, 4b: When mseccfg.mml==1, M-mode only or locked shared regions with executable privileges is not possible, and such writes are ignored. Exempt when mseccfg.rlb==1

[2022-08-09 12:25] silabs-oivind commented on #275
Setting a region to TOR will only lock the address of the previous region (and not the config) in our implementation.

[2022-08-09 13:26] silabs-anvesten opened #277 "MPRV not cleared when core changes from debug to user mode."
### Component
**Component:RTL**

Comment:
mstatus.MPRV bit should be cleared when exiting debug mode into user mode, this is not the case. Simulation must also be run without ISS as there is currently a mismatch error when writing changes to the dcsr.prv bit.

### Steps to Reproduce
git hash:
     c8ed2efc63ad8f31cf90603f19fcd35c1dd45247
git branch to look into:
     https://github.com/silabs-anve

[2022-08-10 07:18] silabs-robin commented on #273
Can confirm that this is already in the vPlan.
(No tests written for it yet.)

[2022-08-10 07:41] silabs-anvesten opened #278 "UVM mret assertion fails when transitioning from debug- to user-mode."
### Component
**Component:RTL**

### Comment
When the same test as for issue #277 there is also an assertion fail which seems to be incorrect. Print from the terminal window is linked below. This test must also be ran without ISS as a mismatch happens before the assertion.

### Printed failure message
"xmsim: *E,ASRTST (/work/anvesten/core-v-verif/core-v-cores/cv32e40s/sva/cv32e40s_core_sva.sv,461

[2022-08-10 07:54] silabs-robin commented on #274
Can confirm that it is already in the vplan.
(No tests written yet.)

[2022-08-10 12:14] silabs-oivind commented on #274
Should be fixed in https://github.com/openhwgroup/cv32e40s/pull/261

[2022-08-15 07:31] silabs-oivind opened #280 "Mirroring of mstatus.mpp wrong when writing mcause"
Upon mcause_we, the the value written to mstatus.mpp is taken from wrong bit indices (from cv32e40s_cs_registers):
`mstatus_n.mpp = mstatus_mpp_resolve(mstatus_rdata.mpp, csr_wdata_int[MSTATUS_MPP_BIT_HIGH:MSTATUS_MPP_BIT_LOW]);`

Indices from mcause (not mstatus) should be used.

[2022-08-18 09:10] #273 closed

[2022-08-18 09:13] #275 closed

[2022-08-18 09:14] #274 closed

[2022-08-19 11:46] silabs-robin opened #281 "Wrong "rvfi_mem_addr""
**Component:RTL**: For issues in the RTL (e.g. for files in the rtl directory)
**Component:Other**: For any other issues

### Problem

RVFI reports two store instructions ("rvfi_mem_wmask"), while "rvfi_mem_addr" is the same on both.
However, the second addr seems to be a remnant from the previous store, not reflecting the actual address used on the second store.
This is shown in two ways, 1) calc

[2022-08-19 12:16] Silabs-ArjanB commented on #281
At first glance RVFI does not take the write buffer into account. Once it does we will have a coverage hole in the sense that the logic in between the write buffer and the bus interface is no longer covered by RVFI. An issue or task should be added related to this.

[2022-08-19 12:16] Silabs-ArjanB commented on #281
Issue should be fixed on CV32E40X first and then merged over.

[2022-08-25 14:47] silabs-robin opened #283 "pmpncfg.RWX not unchanged"
**Component:RTL**: For issues in the RTL (e.g. for files in the rtl directory)

### Steps to Reproduce

I can provide a test case upon request, but my current setup has 2 pending rtl future-fixes in it and I think the case is visible just from source code vs spec.

### Problem

Spec:
_"The value of the collective R, W, X bitfield will remain unchanged when attempting to write R = 0 and W = 1 while

[2022-08-25 16:06] Silabs-ArjanB commented on #283
This issue is the same as https://github.com/openhwgroup/cv32e40s/issues/165.

Note that this requirement is not from the official RISC-V spec.

[2022-08-26 07:02] silabs-oivind commented on #280
This was fixed in https://github.com/openhwgroup/cv32e40s/pull/282

[2022-08-26 07:02] #280 closed

[2022-08-27 17:55] silabs-robin commented on #283
(I know this is a duplicate, but I want to leave it up until it is fixed, because then it is easier for me to track its status.)

[2022-08-27 18:08] silabs-robin opened #286 "Flush on MPRV-write?"
**Component:RTL**: For issues in the RTL (e.g. for files in the rtl directory)
**Component:Doc **: For issues in the Documentation (e.g. for User Manual or README.md files)

### Steps to Reproduce

1. 5f1cb75d, https://github.com/silabs-robin/core-v-verif/tree/pmp_assert
2. tcf_cvverif --rc=pmp_g3r3
3. a_noexec_cause

### Problem

Changing MPRV changes the "effective privilege mode", and hence als

[2022-08-29 06:11] Silabs-ArjanB commented on #286
According to the RISC-V priv spec:

It seems above description is looking at the instruction side PMP in relationship to MPRV. Are the assertions taking above quotes into account?

[2022-08-29 06:36] silabs-robin commented on #286
No, that was an oversight. The model seems improperly connected here, I'll fix it.

It might have been that the text _"all accesses whose effective privilege mode is S or U, including instruction fetches"_ led me to believe that instructions fetches was included in the concept of "effective privilege mode", but looking at it again it is clear that MPRV only affects loadstores. (It is especially cl

[2022-08-29 06:36] #286 closed

[2022-08-29 11:43] silabs-robin opened #287 ""pmpcfg" write not ignored"
**Component:RTL**: For issues in the RTL (e.g. for files in the rtl directory)

### Steps to Reproduce

1. 941c1b78, https://github.com/silabs-robin/core-v-verif/tree/pmp_assert
2. tcf_cvverif --rc=pmp_g3r3
3. a_cfgwdata_legal

### Problem

I don't think we follow the spec item quoted above.
See the _red_ highlighted signals in the trace below.

The trace shows an attempted cfg write, the pre-stat

[2022-08-29 12:33] Silabs-ArjanB commented on #287
Hi @silabs-oivind Isn't this the same as what was reported in https://github.com/openhwgroup/cv32e40s/issues/273 to not be an issue?

[2022-08-29 13:01] silabs-oivind commented on #287
Hi @Silabs-ArjanB, @silabs-robin.
LRWX=1111 is a special case and is used to encode a shared, read-only readion (when mml=1):

From the smepmp spec:
"The encoding pmpcfg.LRWX=1111 can be used for sharing data between M-mode and S/U mode,
where both modes only have read-only access to the region. The rule remains locked so that any
further modifications to its associated configuration or address re

[2022-08-29 14:26] silabs-robin commented on #287
That is correct, and it was missing from the assert. After fixing this, the assertion detects no discrepancies between wdata and expectations.

[2022-08-29 14:26] #287 closed

[2022-08-30 14:46] silabs-krdosvik opened #293 "Dummy instruction frequency can be violated"
## Bug: The frequency of dummy instructions can be violated.

### Component: RTL dummy instructions

https://docs.openhwgroup.org/projects/cv32e40s-user-manual/en/latest/xsecure.html
![image](https://user-images.githubusercontent.com/110398284/187463814-ede5fd51-a9ee-47e0-b2ac-4fc338966c30.png)
We want to ensure the shown requirements.

https://github.com/openhwgroup/cv32e40s/blob/master/rtl/cv32e

[2022-09-01 12:50] silabs-robin opened #294 "pmpncfg "keep old mode""
**Component:RTL**: For issues in the RTL (e.g. for files in the rtl directory)

## Problem

When G>=1 and one attemps to change to the unselectable mode NA4, according to our WARL rules we should keep the field's previous value, but we don't.

![image](https://user-images.githubusercontent.com/75431602/187916265-04935938-b7a9-45fb-961b-d8b084d15daa.png)

![image](https://user-images.githubusercont

[2022-09-06 11:59] silabs-krdosvik opened #296 "Alert minor is not set when there are a store bus fault NMI or a load bus fault NMI"
Minor alert should be high when encountering these scenarios:

![image](https://user-images.githubusercontent.com/110398284/188628055-8cf25323-79f4-4faf-ad71-b84e35e85e8b.png)

In rtl/cv32e40s_alert.sv, we set the alert minor signal high if exception_alert or lfsr_lockup is high.

![image](https://user-images.githubusercontent.com/110398284/188627167-a666364c-1fe7-419e-9a46-93885aefaa28.png)

Howe

[2022-09-09 07:26] silabs-hfegran opened #300 "rvfi_intr can be missed with clic shv-interrupt"
## Missing rvfi_intr for clic selective hardware vectored interrupt
Under certain circumstances, a taken shv-interrupt does not result in correct rvfi_intr signalling. This appears to coincide with a write to mtvt as the last instruction retired before irq acknowledgement

### Steps to Reproduce
Please provide:
1. git hash: 8ee7abf25c46
2. Formally analyzed assertion:
[code]
4. Waves:
![image](htt

[2022-09-13 10:38] silabs-oysteink opened #302 "Bits in cpuctrl CSR may be cleared in RMW operations"
There is currently no testcase to back up this issue, but inspecting the RTL indicates that the following may be the case:

Any CSR instruction using Read-Modify-Write acting on cpuctrl may clear bits of cpuctrl that should not be cleared.
The reasoning behind this is that the cpuctrl CSR should always read 0. This value is read in EX and piped to WB for usage in the RMW operation and writing to t

[2022-09-13 10:42] Silabs-ArjanB commented on #302
Are there other (maybe PMP) CSRs that perform 'read legalization' and therefore have the same issue?

[2022-09-14 08:14] silabs-oysteink commented on #302
Running the following instructions expose the problem:

1. csrrwi x0, 0xbf0, 0x10 // enable cpuctrl.integrity
2. csrrsi x0, 0bbf0, 0x8   // Set bit for pc_harden

The resulting waveform looks like this:

![image](https://user-images.githubusercontent.com/66771756/190099275-9286f7e8-0a58-4d1a-be37-6940ecb350e5.png)

[2022-09-14 13:28] Silabs-ArjanB commented on #302
@silabs-mateilga Can this issue be addressed by a cover point (and/or directed test with the above instructions)?

[2022-09-15 07:03] silabs-mateilga commented on #302
Both are possible, but I think they will be covered when the autogenerated CSR test is updated, maybe @silabs-hfegran can comment on this?

Apart from exercising the issue, I'm uncertain if the scoreboard would pick it up. That depends on what is reported on rvfi rdata for this special register. Is it the actual stored value, or is it the "read" value 0f 0x0?

[2022-09-15 09:16] silabs-hfegran commented on #302
This will only be covered by the autogenerated csr test IF the register value is readable - otherwise the test have no way of knowing what value was actually committed to the register on a write.

[2022-09-15 10:21] Silabs-ArjanB commented on #302
We report the 'read value' as opposed to the 'actual stored value' on RVFI.

@silabs-mateilga What does the ISS actually compare against in its scoreboard? Please see https://github.com/openhwgroup/cv32e40s/issues/255 for an official RISC-V example (pmpaddr) where the read value and the actually stored value can difffer.

[2022-09-15 11:16] silabs-mateilga commented on #302
As you say the rdata represents the "read value", I see no way ISS can compare with the "actual stored value" as it's not (yet) exposed on the rvfi, and they use that to compare. We'd need actual value exposed to verify this behaviour. Of course, we could do it ourselves by probing the actual register value in the core, but this would be a new addition to the test environment.

[2022-09-15 11:28] Silabs-ArjanB commented on #302
@silabs-mateilga The question is what value the ISS reports (not what value is reported on RVFI, that we know).

[2022-09-26 09:19] Silabs-ArjanB commented on #302
@silabs-oysteink cpuctrl needs to be changed to become a regular R/W CSR. The secureseed* CSRs are still 'read as 0', so the reported problem still exists there.

[2022-09-26 10:33] Silabs-ArjanB opened #307 "Additional feedback on https://github.com/openhwgroup/cv32e40s/pull/304"
I added additional feedback in the already merged https://github.com/openhwgroup/cv32e40s/pull/304. Can that be taken into account?

[2022-09-30 07:07] silabs-oysteink commented on #307
PR #310 addresses this issue, can it be closed now?

[2022-09-30 07:29] #307 closed

[2022-10-03 11:22] silabs-oivind commented on #283
This is fixed in https://github.com/openhwgroup/cv32e40s/pull/290

[2022-10-03 11:22] silabs-oivind commented on #165
This is fixed in https://github.com/openhwgroup/cv32e40s/pull/290

[2022-10-03 11:43] Silabs-ArjanB commented on #283
@silabs-robin Please close this issue once you have confirmed that the fix is okay.

[2022-10-03 11:44] #165 closed

[2022-10-04 05:47] Silabs-ArjanB commented on #294
@silabs-robin Can you please close this issue once you have confirmed the fix?

[2022-10-04 07:12] silabs-robin commented on #281
I plan on closing this one too once I have confirmed the fix.

[2022-10-05 05:23] silabs-oysteink commented on #300
This issue should now be fixed with PR #316.

[2022-10-05 05:55] Silabs-ArjanB commented on #300
@silabs-hfegran Can you please close this issue if you agree it has been fixed. Also please note that the provided assertion is too relaxed: The following part should not be needed according to the specification of the involved signals:

[code]

[2022-10-05 06:08] silabs-hfegran commented on #300
Thank you @silabs-oysteink and @Silabs-ArjanB, I will run a few tests to make sure

[2022-10-05 06:54] #300 closed

[2022-10-05 12:00] Silabs-ArjanB commented on #293
Hi @silabs-krdosvik This issue should have been fixed now. Can you close the issue once you have confirmed that the fix is correct?

[2022-10-11 09:47] #209 closed

[2022-10-14 09:14] silabs-krdosvik commented on #293
[dummy_freq_resetting.pdf](https://github.com/openhwgroup/cv32e40s/files/9784328/dummy_freq_resetting.pdf)

Locks correct. Here is also my check for the scenario that we though would make the frequency requirement fail. It is in norwegian, so in case that is a problem just use google translate or so.

[2022-10-14 09:14] #293 closed

[2022-10-14 10:27] Silabs-ArjanB commented on #265
@silabs-oysteink Has this been fixed (according to mentioned PR possibly superseeded by most recent user manual if there were later changes)?

[2022-10-14 10:28] Silabs-ArjanB commented on #206
@silabs-oysteink Has this been fixed now?

[2022-10-14 10:28] silabs-oysteink commented on #265
Yes, this should be all ok.

[2022-10-14 10:29] silabs-oysteink commented on #206
Yes, all CSR instructions except CSRRW with rd!=0 and rs1!=1 will be flagged as illegal.

[2022-10-14 10:39] #265 closed

[2022-10-14 10:41] Silabs-ArjanB commented on #206
@silabs-hfegran This should be fixed now (both in our user manual and RTL). Please close if agreed.

[2022-10-14 10:47] silabs-hfegran commented on #206
Looks good to me

[2022-10-14 10:47] #206 closed

[2022-10-17 14:08] silabs-oivind commented on #278
This was fixed in 0de032f49e39ea620e715a8fb843f55f3f49381e, where the assertion is updated to also take dret into account. Formal and sim passing. Issue can be closed.

[2022-10-18 05:58] #278 closed

[2022-10-18 06:15] #256 closed

[2022-10-21 08:42] Silabs-ArjanB commented on #277
@silabs-anvesten This should be fixed now; please close if agreed/confirmed.

[2022-11-01 13:33] silabs-robin commented on #294
I believe it is fixed. Checked all asserts involving `rectify_cfg_write` in rc `pmp_pma_2` and `pmp_pma_4`, passing. Closing.

[2022-11-01 13:51] silabs-robin commented on #283
I believe it is fixed. Checked all asserts involving `rectify_cfg_write` in rc `pmp_pma_2` and `pmp_pma_4`, passing. Closing.

[2022-11-01 13:51] #283 closed

[2022-11-01 15:15] silabs-robin commented on #281
Reran the aforementioned assert ("a_noloadstore_musttrap", which caught the original problem). Did not write a new assert specifically for this. The assert now has a bound of >=29 (CEX was at 21). This points to the problem being solved. Closing.

[2022-11-01 15:15] #281 closed

[2022-11-02 11:21] silabs-robin commented on #236
I think we can close this.

`a_rs1_resetvalue` has a bound of 37 in my run right now.
So the initial problem is definitely solved.
If there are further problems then it should get caught by long-running regression jobs and we'll open a new ticket.

If there are any objections then just re-open this.

[2022-11-02 11:21] #236 closed

[2022-11-02 11:48] silabs-robin commented on #148
Can this be closed?

[2022-11-02 11:52] silabs-oivind commented on #148
Yes. This has been merged to e40s a long time ago.

[2022-11-02 12:15] silabs-robin commented on #236
_(Both asserts converged now, btw)_

[2022-11-02 12:46] #148 closed

[2022-11-02 14:14] #277 closed

[2022-11-04 12:24] Silabs-ArjanB opened #333 "Fix PMP error todo"
The RVFI instantiation contains the following known issue:

[code]

The hook up is this signal is not trivial as the information on whether an access fault is due to PMA or PMP has already been lost (i.e. ORed together) when prefetch_instr.mpu_status reaches the if_stage and retrieving this info directly from the cv32e40s_mpu scope might be difficult (at least it will be difficult to see if these

[2022-11-10 13:02] silabs-hfegran opened #334 "mstatus/mcause.mpp and mpie mirroring not correctly reported on rvfi"
## mstatus/mcause.mpp and mpie mirroring not correctly reported on rvfi

Writes to mcause.mpp/mpie is not reported on mcause rvfi_csr_wdata

### Component
RTL and/or RVFI

### Steps to Reproduce
1. [git hash](https://github.com/silabs-hfegran/core-v-verif/tree/dev_hf_40s_initial_clic_test)
2. make test TEST=clic CFG=clic_default USE_ISS=1
3. Wave dump:
![image](https://user-images.githubuserconten

[2022-11-22 13:08] silabs-mateilga opened #342 "RVFI branch_taken_ex causes miscalculation on debug entry"
rfvi_wdata is miscalculated when a branch is not taken and the next instruction is interrupted by a debug entry. Suspicion is that this is caused by the pc hardening feature.

### Component
**Component:RTL**: RVFI

### Steps to Reproduce
formally verify assert a_debug_mode_pc_dpc

[2022-11-22 14:57] silabs-halfdan opened #343 "Fix mprven bit in DCSR"
The **mprven** bit is [documented ](https://cv32e40s-user-manual.readthedocs.io/en/latest/control_status_registers.html#debug-control-and-status-dcsr) as hardwired to 1 while it is hardwired to 0 in the RTL.

[2022-11-23 08:23] silabs-halfdan commented on #343
Also the **stopcount** bit in the same register is seems to not be implemented